opendam/cache/*
opendam/log/*
opendam/web/uploads/*
opendam/config/databases.yml
opendam/config/propel.ini
opendam/data/sql/*
# lib/filter/doctrine/base/Base*
# lib/filter/doctrine/*Plugin/base/Base*
# lib/form/doctrine/base/Base*
# lib/form/doctrine/*Plugin/base/Base*
# lib/model/doctrine/base/Base*
# lib/model/doctrine/*Plugin/base/Base*
# lib/model/om/*
# lib/model/map/*
opendam/web/*Plugin/*